discoveryURL=http://localhost:8895/auth/realms/test/.well-known/openid-configuration
certsURL=http://localhost:8895/auth/realms/test/protocol/openid-connect/certs
client_secret=testClient
client_id=testClient
slider=admin:GET:/sensinact/slider/*
slider[0]=admin:DESCRIBE:/sensinact/slider
slider[1]=admin:GET:/sensinact/slider
slider[2]=admin:DESCRIBE:/sensinact/slider/*

