#*******************************************************************************
# Copyright (c)  2025 Contributors to the Eclipse Foundation
#
# This program and the accompanying materials are made
# available under the terms of the Eclipse Public License 2.0
# which is available at https://www.eclipse.org/legal/epl-2.0/
#
# SPDX-License-Identifier: EPL-2.0
#
#*******************************************************************************

# This file is used to configure Maven behavior and settings

# The version of every module in this repository lives here and only here.
# The poms reference ${revision}${changelist}.
# revision:   x.y.z, the git tag of a release must equal it
# changelist: -SNAPSHOT during development, empty (-Dchangelist=) for a release
-Drevision=0.0.2
-Dchangelist=-SNAPSHOT
