/.idea
*.iml
target
*~
*.log
.settings
.classpath
.project
.gradle
deploy_local.sh
deploy.sh
bin
build
nbproject
generated

# ANTLR
.antlr/

.DS_Store
webclient/node_modules
webclient/package-lock.json
webclient/dist

# MQTT tests
.moquette_uuid

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
