<configuration>
    <import class="ch.qos.logback.classic.jul.LevelChangePropagator"/>
    <contextListener class="LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger{36}:%line - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
    <logger name="org.eclipse.sensinact.northbound.rest" level="DEBUG"/>
    <logger name="org.eclipse.sensinact.northbound.session" level="DEBUG"/>
</configuration>
