#host is the IP or DNSName of the MQTT Server. e.g. 127.0.0.1
host=sensinact-cea.ddns.net
#host port of MQTT service, by default 1883
port=5269
#QoS is the quality of service, by default 0, which do not require reading confirmation
qos=0
#payloadType can be either humanreadatable or raw. humanreadatable will push messages in a MQTTBus with /service/provider/resource/ as topic and value in the body of the message
payloadType=raw 
#This will be added as a prefix to the Topic used in the MQTT
prefix=/
