# EditorConfig helps developers define and maintain consistent
# coding styles between different editors and IDEs
# editorconfig.org

root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_size = 4
indent_style = space
trim_trailing_whitespace = true

[*.{xml,json,jj}]
indent_size = 2

[*.{md,g4}]
trim_trailing_whitespace = false
indent_size = 1

[*.bndrun]
indent_style = tab
insert_final_newline = false
trim_trailing_whitespace = false

# Custom rules for unit tests with oddly named resource files
[distribution/launcher/src/test/resources/**.feature]
indent_size = 2

[distribution/launcher/src/test/resources/**.{jar,bundle}]
insert_final_newline = false

[core/models/src/**]
charset = unset
end_of_line = unset
insert_final_newline = unset
trim_trailing_whitespace = unset
indent_style = unset
indent_size = unset

[**/*.{ecore,genmodel}]
charset = unset
end_of_line = unset
insert_final_newline = unset
trim_trailing_whitespace = unset
indent_style = unset
indent_size = unset
