name: build_the_webclient
on:
  push:
    branches: ["webclient"]
defaults:
  run:
    working-directory: webclient
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
        with:
          ref: ${{ github.event.pull_request.head.ref }}
      - uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8 # v4.0.2
        with:
          node-version: '14'
      - run: npm install
      - run: npm run generate_api
      - run: npm run build

