name: Java CI with Maven

on:
  push:
    branches: [ "future/prototype" ]
  pull_request:
    branches: [ "future/prototype" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven
    - name: Build with Maven
      run: mvn -B verify --file pom.xml

    # Optional: Uploads the full dependency graph to GitHub to improve the quality of Dependabot alerts this repository can receive
    - name: Update dependency graph
      continue-on-error: true
      uses: advanced-security/maven-dependency-submission-action@v2.0.1
      with:
        directory: '/'
